<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place au quizz !</title>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %>
        <h1> Place au quizz !</h1>

        <form action="/next" method="POST">
            <div>
            <p>
                <%= questions %> <br>
               
            </p>
       
        </div>
            <% locals.answers.forEach(function(answer) { %>
                <input type="radio" name="answers" value="<%= answer.correct %>">
                <%= answer.content %></input>
                    <% }); %>
                        </p>

                        <button id="btn-valider" name="buttonValue" onclick="next()">Valider</button>
        </form>
</body>

<script>

    function next() {

        window.location.href = "next";
    }
</script>

</html>